.gem-search {
  margin-top: 150px;
  padding: 0 100px;
}

.gem-search > h1 {
  margin: 23px;
}

.gem-search-form {
  border: 1px solid #5F5F5F;
  border-radius: 100px;
  height: 50px;
  position: relative;
  margin: 28px 0;
}

.gem-search-form > .text-input-field {
  width: calc(100% - 72px);
  margin-left: 22px;
  border: none;
  line-height: 46px;
}

.gem-search-form > input:focus {
  outline: none;
}

.gem-search-form > .submit-button {
  background: url('magnifying-glass.png');
  border: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  margin: 14px 0;
}

.gem-list {
  height: 421px;
  overflow-y: scroll;
  margin: 23px;
}

.gem-list-item {
  margin-bottom: 40px;
}

.gem-list-item p {
  color: grey;
  margin: 0;
}

.gem-list-item > button {
  margin-left: 10px;
  padding: 0;
  border: none;
  background: none;
}

.gem-list-item > button:focus {
  outline: none;
}

.gem-list-item > button:hover {
  opacity: .5;
}

.dependency-list-item > button {
  margin-left: 10px;
  padding: 0;
  border: none;
  background: none;
}

.dependency-list-item > button:focus {
  outline: none;
}

.dependency-list-item > button:hover {
  opacity: .5;
}

@media only screen and (max-width: 917.38px)  {
  .gem-search {
    padding: 0 50px;
  }

  .gem-list {
    height: auto;
    overflow-y: auto;
    margin: 23px;
  }
}
