.home {
  display: flex;
  justify-content: space-between;
}

.home-aside {
  width: 458.688px;
  height: 776px;
  position: relative;
}

.home-content {
  width: calc(100vw - 458.69px);
  height: 776px;
}

.map {
  width: 458.688px;
  height: 776px;
}

.teachable-logo {
  position: absolute;
  top: 40px;
  right: 48px;
}

.link-to-search {
  position: absolute;
  top: 320px;
  right: 0;
  width: 125px;
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  font-size: 16px;
  color: white;
}

.link-to-search:hover {
  color: white;
  text-decoration: none;
}

.link-to-search:focus {
  color: white;
  text-decoration: none;
}

.link-to-favorites {
  position: absolute;
  top: 362px;
  right: 0;
  width: 125px;
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  font-size: 16px;
  color: white;
}

.link-to-favorites:hover {
  color: white;
  text-decoration: none;
}

.link-to-favorites:focus {
  color: white;
  text-decoration: none;
}

.active-page {
  background-color: rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 917.38px)  {
  .home {
    flex-direction: column;
  }

  .home-aside {
    width: 100vw;
    height: 150px;
    background: url('map.png');
    background-size: cover;
  }

  .home-content {
    width: 100vw;
    height: auto;
  }

  .map {
    display: none;
  }

  .link-to-search {
    top: auto;
    bottom: 0;
    padding: 0;
    text-align: center;
  }

  .link-to-favorites {
    top: auto;
    bottom: 0;
    right: 125px;
    padding: 0;
    text-align: center;
  }
}
