.map {
  height: 100vh;
}

.teachable-logo {
  position: absolute;
  top: 5%;
  left: 32%;
}

.link-to-search {
  position: absolute;
  top: 41.4%;
  left: 32.5%;
  width: 125px;
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  font-size: 16px;
  color: white;
  background: black;
}

.link-to-search:hover {
  color: white;
  text-decoration: none;
}

.link-to-favorites {
  position: absolute;
  top: 46.8%;
  left: 32.5%;
  width: 125px;
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  font-size: 16px;
  color: white;
  background: blue;
}

.link-to-favorites:hover {
  color: white;
  text-decoration: none;
}

.active-page {
  background-color: rgba(0, 0, 0, 0.25);
}
